
  /* Card modal */
  .modal-content {
    background-color: var(--pure-white);
    border-radius: 16px;
    overflow: hidden;
    border: none;
    box-shadow: 0 4px 20px gray;
  }

  .modal-dialog {
    max-width: 900px;
    margin: auto;
  }
  
  .modal-body {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  
  /* Imagen*/
  .modal-body .col-md-6 img {
    border-radius: 16px 0 0 16px;
    object-fit: cover;

  }
  
  /* Texto */
  .modal-body .col-md-6 {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h4 {
    font-family: 'Oswald', sans-serif;
    color: var(--energy-orange);
    font-size: 1.8rem;
  }
  
  p {
    font-size: 1rem;
    color: var(--dark-charcoal);
  }
  
  .Precio-producto {
    font-size: 1.2rem;
    color: var(--energy-orange);
  } 
  
  .text-muted {
    font-size: 1.2rem;
  }
  
  /* Boton musica-cerrar */
  .btn-primary, .btn-outline-secondary {
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 12px;
    margin-top: 10px;
  }
  
  .btn-primary {
    font-weight:bold;
    background-color: var(--deep-brown);
    color: var(--pure-white);
    border: none;
  }
  
  .btn-primary:hover {
    background-color: var(--energy-orange);
    
  }
  
  .btn-outline-secondary {
    background-color: --light-gray;
    border: none;
    color: var(--dark-charcoal);
  }
  
  .btn-outline-secondary:hover {
    background-color: var(--energy-orange);
    color: var(--pure-white);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .modal-dialog {
      max-width: 100%;
    }
  
    .modal-body {
      flex-direction: column;
    }
  
    .modal-body .col-md-6 {
      padding: 10px;
    }
  
    .modal-body .col-md-6 img {
      border-radius: 10px;
    }
  }
  